body {
    background: black;
    color: white;
}

select, option, p {
    font-size: 25px;
}

div {
    border: 1px solid white;
}

#App {
    font-size: calc(10px + 2vmin);
    display: flex;
    flex-flow: row nowrap;
}

#controls {
    justify-content: center;
    position: absolute;
    width: 800px;
    transform: translate(-50%, -50%);
    top: 75%;
    left: 40%;
}

#canvas1 {
    position: relative;
    width: 800px;
    height: 700px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#slider {
    width: 100%;
}
