body {
    background: black;
    color: white;
}

select, option, p {
    font-size: 25px;
}

div {
    /*border: 1px solid white;*/
}

#App {
    font-size: calc(10px + 2vmin);
    display: flex;
    flex-flow: column nowrap;
}


#canvas {
    position: absolute;
    width: 800px;
    height: 700px;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
}

#controls {
    position: absolute;
    width: 800px;
    transform: translate(-50%, -50%);
    top: 80%;
    left: 50%;
}

#game-speed {

}

#slider {
    width: 100%;
}
